    <div class="index-wrapper">

        <section id="timeline">
            {{#foreach posts}}
            <article class="article">

                <div class="inner">
                    <span class="date">
                    <span class="day">{{date format="DD"}}</span>
                    <span class="month">{{date format="MMM"}}</span>
                    <span class="year">{{date format="YYYY"}}</span>
                    </span>
                    <a href="{{url}}">
                    <div class="title">
                      <h2>{{{title}}}</h2>
                    </div>
                        {{#if image}}
                        <img src="{{image}}" />
                        {{/if}}
                        </a>
                      <div class="jrm-truncate" data-lines="-1">
                        {{content}}
                      </div>
                    <hr/>
                    <div class="share">
                    <div class="addthis_inline_share_toolbox" data-url="{{url absolute="true"}}" data-title="{{meta_title}}" data-description="{{meta_description}}" data-media="{{image}}"></div>
                    <br/>
                    <a href="{{url absolute="true"}}">Permalink</a>
                      </div>
                </div>
            </article>
            {{/foreach}}
        </section>

    </div>

{{pagination}}
