    <div class="index-wrapper">

        <section id="timeline">
            {{#foreach posts}}

            <article class="article">

                <div class="inner">
                    <span class="date">
                    <span class="day">{{date format="DD"}}</span>
                    <span class="month">{{date format="MMM"}}</span>
                    <span class="year">{{date format="YYYY"}}</span>
                    </span>
                    <a href="{{url}}">
                    <div class="title">
                      <h2>{{{title}}}</h2>
                    </div>
                        {{#if image}}
                        <img src="{{image}}" />
                        {{/if}}
                        </a>
                    {{!-- If show full post --}}
                    {{#has tag="#expand,#ad"}}
                      {{content}}

                      {{else}}
                      {{!-- If is long post with excerpt --}}
                      {{#has tag="#long"}}
                      <p>{{meta_description}}...<a href="{{url}}">Keep Reading</a></p>

                      {{else}}
                        {{!-- If regular post with read more --}}
                        <div class="article">
                         {{content}}
                       </div>

                     {{/has}}
                     {{/has}}
                    <hr/>
                    <div class="share">
                    <div class="addthis_inline_share_toolbox" data-url="{{url absolute="true"}}" data-title="{{meta_title}}" data-description="{{meta_description}}" data-media="{{image}}"></div>
                    <br/>
                    <a href="{{url absolute="true"}}">Permalink</a>
                      </div>
                </div>
            </article>

            {{/foreach}}
        </section>

    </div>

{{pagination}}
